@model Invitaciones.Shared.Data.EventoInvitacione

@{
    ViewData["Title"] = "Index";
    var eventos = ViewData["Eventos"] as List<Invitaciones.Shared.Data.Evento>;
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3 class="card-title">Invitaciones</h3>
            </div>
           @* <div class="col text-right">
                <a class="btn btn-secondary" href="/menus/create">Agregar Nuevo</a>
            </div>*@
        </div>
    </div>
    <div class="card-body">
       @* <div class="row">
            <div class="col-md-12" id="partial">
                @await Html.PartialAsync("~/Views/EventoInvitaciones/create.cshtml", new MRE_Invitaciones.Data.EventoInvitacione())
            </div>
        </div>*@
          <div class="row mt-3 mb-3">
            <div class="col-md-12">
                <h4>@Model.IdEventoNavigation.Evento1</h4> 
            </div>
        </div>
        <div class="table-responsive">
            <table id="tbUsuarios" class="table ">
                    <thead>
                                    <tr>
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.IdEvento)
                                        </th>*@
                                        <th>Trato</th>
                                        <th>Señor</th>
                                        <th>Nombre</th>
                                        <th>Acompañante</th>
                                        <th>Cargo</th>
                                        <th>Confirmación</th>
                                    
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                @{
                                    var i = 0;
                                }
                                @foreach(var inv in Model.EventoInvitados)
                                {
                                    <tr id="R_@i">
                                     <td class="row-index">
                                     <input type='hidden' name='invitado' value='@inv.IdPersona'  />
                                     <p> @inv.IdPersonaNavigation.Trato</p>
                                    </td>
                                     <td><p> @inv.IdPersonaNavigation.Titulo</p></td>
                                     <td><p> @inv.IdPersonaNavigation.Nombre</p></td>
                                     
                                     
                                         <td>@inv.TextoAdicional</td>
                                     <td> <p> @inv.IdPersonaNavigation.Cargo</p></td>
                                    <td> 
                                        @if(inv.Confirmado ==false)
                                        {
                                            <span class="badge badge-warning">Pendiente</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">Confirmado</span>
                                        }

                                    </td>
                                      
                                      </tr>
                                    i+=1;
                                }
                            </tbody>
                </table>
        </div>

</div>
</div>
 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
         $(document).ready(function(){
          $("#usuario").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tbUsuarios tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
    
}
 <script>  
       function edit (id) {  
           $("#partial").load("@Url.Content("~")/EventoInvitaciones/edit/"+id);             
        } 
 </script> 


