@model Invitaciones.Shared.Data.Evento

@{
	ViewData["Title"] = "Edit";
}
@*<div class="card ">*@
@*<div class="card-header">
    <h3 class="card-title">Menú</h3>
</div>*@
<form asp-action="Edit">
	<div class="row">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="IdEvento" />
		<div class="form-group col-md-6">
			<div class="card">
				<div class="card-body">
					<label asp-for="Formato" class="control-label"></label>
					<select asp-for="Formato" class="form-control" onchange="formato()" asp-items="ViewBag.Formato" required></select>
					<span asp-validation-for="Formato" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="form-group col-md-6">
			<div class="card">
				<div class="card-body">
					<label asp-for="IdCategoria" class="control-label"></label>
					<select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria" required></select>
				</div>
			</div>

		</div>
		<div class="form-group col-md-6">
			<div class="card">
				<div class="card-body">
					<label asp-for="IdTipo" class="control-label"></label>
					<select asp-for="IdTipo" class="form-control" asp-items="ViewBag.IdTipo" required></select>
				</div>
			</div>

		</div>
		<div class="form-group col-md-6">

			<div class="card">
				<div class="card-body">
					<label asp-for="IdOrganizador" class="control-label"></label>
					@*<select asp-for="IdOrganizador" class ="form-control" asp-items="ViewBag.IdOrganizador"></select>*@

					<select asp-for="IdOrganizador" class="form-control" asp-items="ViewBag.IdOrganizador" required>
						<option value="">Seleccionar</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12">

			<div class="card">
				<div class="card-body">
					<label asp-for="Evento1" class="control-label"></label>
					<input asp-for="Evento1" class="form-control" required />
					<span asp-validation-for="Evento1" class="text-danger"></span>
				</div>
			</div>
		</div>

		<div class="form-group col-md-12">

			<div class="card">
				<div class="card-body">
					<label asp-for="Descripcion" class="control-label"></label>
					<input asp-for="Descripcion" class="form-control" required />
					<span asp-validation-for="Descripcion" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">

			<div class="card">
				<div class="card-body">
					<label asp-for="LimitePersonas" class="control-label"></label>
					<input asp-for="LimitePersonas" class="form-control" />
					<span asp-validation-for="LimitePersonas" class="text-danger"></span>
				</div>
			</div>
		</div>





		<div class="form-group col-md-12" id="dDireccion">

			<div class="card">
				<div class="card-body">
					<label asp-for="Direccion" class="control-label">Dirección</label>
					<input asp-for="Direccion" class="form-control" />
					<span asp-validation-for="Direccion" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12" id="dEnlace" style="display:none;">

			<div class="card">
				<div class="card-body">
					<label asp-for="EnlaceVirtual" class="control-label">Enlace</label>
					<input asp-for="EnlaceVirtual" class="form-control" />
					<span asp-validation-for="EnlaceVirtual" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="form-group col-md-12">

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<label asp-for="Imagen" class="control-label"></label>
							<input asp-for="Imagen" type="file" class="form-control" />
							<span asp-validation-for="Imagen" class="text-danger"></span>
						</div>
						@if (Model.Imagen != null)
						{
							<div class="col-md-12 mt-3">
								Actual:  <a href="/Files/@Model.Imagen" target="_blank">@Model.Imagen</a>
							</div>
						}

					</div>

				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Archivos adicionales</label>
							<div id="dZUpload" class="dropzone">
								<div class="dz-default dz-message">Suelte los archivos aquí o haga clic para cargar.</div>
							</div>
						</div>
						@if (Model.EventoArchivos != null)
						{
							<div class="col-md-12 mt-3">
								<h6>Archivos</h6>
								<div class="table-responsive">

									<table class="table table-bordered">
										<thead>
											<tr>
												<th>nombre</th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody>

											@foreach (var item in Model.EventoArchivos)
											{
												<tr>
													<td><a href="/Files/@item.Archivo" target="_blank">@item.Archivo</a> </td>
													<td><a href='javascript:void(0)' onclick='deleteArchivo(@item.IdEventoArchivo)'>eliminar </a></td>
												</tr>
											}
										</tbody>
									</table>

								</div>
							</div>
						}

					</div>

				</div>
			</div>
		</div>
		@* <div class="col-md-6" id="dropzone">

		<div action="/eventos/Upload" class="dropzone" id="uploader">

		Drop files here or click to upload.<br>

		</div>

		</div>*@
		<div class="form-group col-md-6">

			<label class="control-label">Repetir</label>

			<select asp-for="Repertir" class="form-control" asp-items="ViewBag.Repetir" id="repetir" onchange="RepetirChange()">
				<option value="">Seleccionar</option>
			</select>
			@* <select asp-for="Repertir" class ="form-control" id="repetir" onchange="RepetirChange()" >
			<option value="N">No</option>
			<option value="S" >Semanal</option>
			<option value="M" >Mensual</option>
			<option value="A">Anual</option>
			<option value="P">Personalizado</option>
			</select>*@
		</div>



		<div class="col-md-12 form-group" id="fecha">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="form-group col-md-6">
							<label asp-for="FechaInicio" class="control-label"></label>
							<input asp-for="FechaInicio" class="form-control" id="fini" />
							<span asp-validation-for="FechaInicio" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="FechaFin" class="control-label"></label>
							<input asp-for="FechaFin" class="form-control" id="ffin" />
							<span asp-validation-for="FechaFin" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="HoraInicio" class="control-label"></label>
							<input asp-for="HoraInicio" class="form-control" id="hini" type="time" />
							<span asp-validation-for="HoraInicio" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="HoraFin" class="control-label"></label>
							<input asp-for="HoraFin" class="form-control" id="hfin" type="time" />
							<span asp-validation-for="HoraFin" class="text-danger"></span>
						</div>
					</div>

				</div>
			</div>
		</div>










		<div class="col-md-12 form-group" id="pers" style="display:none;">
			<div class="card">
				<div class="card-body">
					<div class="row ">
						<div class="form-group col-md-2">
							<label asp="FechaDesde" class="control-label">Fecha Desde</label>
							<input name="FechaDesde" id="FechaDesde" type="date" class="form-control" />
							@*<span asp-validation-for="FechaDesde" class="text-danger"></span>*@
						</div>
						<div class="form-group col-md-2">
							<label asp="FechaHasta" class="control-label">Fecha Hasta</label>
							<input name="FechaHasta" id="FechaHasta" type="date" class="form-control" />
							@*<span asp-validation-for="FechaHasta" class="text-danger"></span>*@
						</div>
						<div class="form-group col-md-2">
							<label asp="HoraDesde" class="control-label">Hora Desde</label>
							<input name="HoraDesde" id="HoraDesde" class="form-control" type="time" />
							@*<span asp-validation-for="HoraDesde" class="text-danger"></span>*@
						</div>
						<div class="form-group col-md-2">
							<label asp="HoraHasta" class="control-label">Hora Hasta</label>
							<input name="HoraHasta" id="HoraHasta" class="form-control" type="time" />
							@*<span asp-validation-for="HoraHasta" class="text-danger"></span>*@
						</div>

						<div class="col-md-12 form-group">
							<a class="btn btn-secondary add-row" onclick="event.preventDefault()" href="#">Agregar</a>

						</div>
					</div>
					<div class="row">
						<div class="col-md-6"></div>
						<div class="table-responsive">
							<table id="tbFechas" class="table table-bordered">
								<thead>
									<tr>
										<th>fecha desde</th>
										<th>fecha hasta</th>
										<th>hora desde</th>
										<th>hora hasta</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									@{
										var i = 0;
									}
									@foreach (Invitaciones.Shared.Data.EventoFecha item in Model.EventoFechas)
									{
										<tr id='@i'>
											<td><input type='hidden' name='fdes' value='@item.FechaDesde'>@item.FechaDesde</td>
											<td><input type='hidden' name='fhas' value='@item.FechaHasta'>@item.FechaHasta</td>
											<td><input type='hidden' name='hdes' value='@item.HoraDesde'>@item.HoraDesde</td>
											<td><input type='hidden' name='hhas' value='@item.HoraHasta'>@item.HoraHasta</td>
											<td><a href='javascript:void(0)' onclick='deleter(@i)'>eliminar </a></td>
										</tr>
									}
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>

		</div>



		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<label class="control-label">Ubicación</label>
					<div class="row">
						<div class="col-md-12">
							<input id="pac-input" class="controls" type="text" placeholder="Búsqueda">
							<div id="myDiv" style="width:100%;height:400px;"></div>
						</div>

						<div class="form-group col-md-6">
							<label asp-for="Latitud" class="control-label"></label>
							<input asp-for="Latitud" class="form-control" />
							<span asp-validation-for="Latitud" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="Longitud" class="control-label"></label>
							<input asp-for="Longitud" class="form-control" />
							<span asp-validation-for="Longitud" class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label asp-for="ZonaHoraria" class="control-label"></label>
							<select asp-for="ZonaHoraria" class="form-control" onchange="formato()" asp-items="ViewBag.ZonaHoraria"></select>
							<span asp-validation-for="ZonaHoraria" class="text-danger"></span>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>

	<div class="align-bottom col-md-12">
		<div class="form-group col-md-6 form-check ">
			<label class="form-check-label">
				<input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
			</label>
		</div>
	</div>
	<div class="card-footer">
		<input type="submit" value="Guardar" class="btn btn-primary" />
		<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
	</div>
	</div>
</form>
@*</div>*@


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}
