@model Invitaciones.Shared.Data.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="card ">
<div class="card-header">
    <h3 class="card-title">Usuario</h3>
</div>
    <dl class="card-body">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioTipoNavigation.UsuarioTipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.IdUsuario">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
